name: Security Scan

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
      - name: Run Snyk Full Scan
        uses: richellemaria/dotnetapplications/actions/snyk@main
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          project-name: dotnetapplications
          run-code-scan: "true"
          run-oss-scan: "true"
          run-license-scan: "true"
       
