name: Security Scan

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Build
        run: dotnet build --configuration Release

      - name: Restore .NET dependencies
        run: dotnet restore
        
      - name: Run Snyk Full Scan
        uses: richellemaria/dotnetapplications/actions/snyk@main
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          project-name: dotnetapplications
          run-code-scan: "true"
          run-oss-scan: "true"
          run-license-scan: "true"
       
